@import url(global.css);

.container {
    display: flex;
}

.menu {
    background-color: #2A282C;
    width: 5%;
    height: 100vh;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;   
}

.botoes:hover {
    color: #8000ff;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.content {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
}

.content h3 {
    color: white;
    font-size: 2rem;
    font-family: 'Red Hat Text', sans-serif;
}

.resumo, .contas, .despesas {
    text-align: center;
    margin-bottom: 20px;
}

.dados {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    justify-items: baseline;
    font-family: 'Rationale', sans-serif;
    font-size: 1.4rem;
}

.dado-img-mes h3 {
    margin-bottom: 1rem; 
    padding-right: 2rem; 
    font-size: 2rem; 
}

.dados img {
    justify-items: left;
    width: 100px;
    margin-right: 20px;
}

.numeros {
    margin-left: 20px;
}

.numeros p {
    color: white;
}

.receita-cor {
    color: green;
}

.despesa-cor, .graficos > .grafico > p {
    color: red;
}

.total-cor {
    color: blue;
}

.saldo p {
    color: white;
}

.saldo-cor {
    color: green;
}

.graficos {
    width: 0 auto;
    display: flex;
    justify-content: center;
}

.graficos .grafico {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.graficos img {
    width: 50px;
}

hr {
    background-color: white;
    width: 100% auto;
}

/* Media queries */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .menu {
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;
        width: 5%;

    }

    .links {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    .content {
        width: 100%;
        padding: 10px;
    }

    .dados {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
    }

    .dados img {
        min-width: 15%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .graficos .grafico {
        margin-right: 10px;
    }
}
}